body{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', 'Segoe UI', Tahoma, Geneva;
    background-color: #FFF;
}

button {
    cursor:pointer;
 }

.header {
    background-color: #000;
    color: #FFF;
    border-bottom: 3px solid #FFF;
}

.container{
    display: flex;
    margin: auto;
    width: 80%;
}

.logo{
    margin-right: 10%;
}

.navbar{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: gold;
    padding: 0;
}

.navbar a{
    color: #FFF;
    text-decoration: none;
}

/*
.agora{
    font-weight: 800;
}
*/

/* Banner */

.banner {
    height: 500px;
    color: #FFF;
    background-size: cover;
    background-image: url("imgs/.png");
 }

.banner .container{
    height: 100%;
    display: flex;
    align-items: center;
}

.banner p {
    margin: 0;
    padding: 0;
    font-size: 50px;
    margin-top: 170px;
    
    text-align: center;
}

.banner span {
    font-weight: 800;
}

/*Novo Banner*/
.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../imgs/anterior.png);
    top: 35%;
    left: 14%;
}
button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../imgs/proximo.png);
    top: 35%;
    right: 14%;
}
.slick-list {
    width: 100%!important;
}
.slick-initialized {
    overflow: hidden;
}
.slick-dots li button {
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

}
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 600px;
}

li.slick-active button {
    background: #00bac6;
}

.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*FIM SLIDER*/

/* SOLUÇÕES */
.solucoes {
    background-color: #000000;
    padding: 50px 0;
    align-items: center;
    display: flex;
}

.solucoes .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.gif {
    /*background-color: aqua;*/
    width: 50%;
}
.gif img {
    width: 100%;
    height: 70vh;
    background-size: cover;
}

.informacoes {
    /*background-color: blueviolet;*/
    width: 50%;
    height: 70vh;
}

.informacoes .grande {
    color: #FFF;
    width: 100%;
    font-size: 60px;
}
.informacoes p {
    color: #FFF;
}
.informacoes button {
    color: #FFF;
    background-color: rgb(3, 180, 180);
    border-radius: 20px;
    border: #FFF solid 2px;
    width: 23%;
    height: 7%;
}

.informacoes button:hover {
    background-color: #000000;
    color: #FFF;
    transition: all 0.5s ease-in;
}

/*
    Secção - Geração de impacto
*/
hr {
    border-color: yellow;
}
.impacto {
    width: 100%;
    /*height: 310vh;*/
    background-color: #FFF;
}
.geracao {
    width: 100%;
    height: 35vh;
    /*background-color: gold;*/
}
.geracao h1, h4 {
    margin-left: 7vw;
}
.geracao h1 {
    font-size: 3vw;
}
.geracao span {
    border: 3px gold solid;
    color: gold;
}
.geracao1 {
    width: 100%;
    height: 50vh;
    /*background-color: blue;*/

    display: flex;
    align-items: center;
    justify-content: center;
}
.geracao1 img {
    width: 35vw;
}
.geracao2 {
    width: 100%;
    height: 50vh;
    /*background-color: deepskyblue;*/

    display: flex;
    align-items: center;
    justify-content: center;
}
.geracao2 img {
    width: 72vh;
}
.geracao3 {
    width: 100%;
    height: 50vh;
    /*background-color: crimson;*/

    display: flex;
    align-items: center;
    justify-content: center;
}
.geracao3 img {
    width: 72vh;
}
.geracao4 {
    width: 100%;
    height: 50vh;
    /*background-color: blue;*/

    display: flex;
    align-items: center;
    justify-content: center;
}
.geracao4 img {
    width: 50vh;
}
.text-ger {
    width: 50%;
    height: 100%;
    /*background-color: dodgerblue;*/

    display: flex;
    flex-direction: column;
}
.text-ger p {
    margin-left: 7vh;
    font-weight: 500;
}
.titulo-ger {
    font-size: 10vh;
}
.titulo-ger1 {
    font-size: 5vh;
}
.img-ger {
    width: 50%;
    height: 100%;
    /*background-color: red;*/

    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-camp {
    color: #FFF;
    background-color: #000000;
    border-radius: 20px;
    width: 100%;
    height: 10%;
    border: 3px gold solid;
}

.btn-camp:hover {
    background-color: gold;
    color: #000;
    transition: all 0.5s ease-in;
}

/*
Cases de Sucesso
*/
.container_ctt {
    width: 100%;
    height: 100%;
    background-color: #FFF;
}
.container_ctt h1, h3 {
    color: #000000;
    text-align: center;
}
.ctt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_ctt button {
    color: #FFF;
    background-color: #000000;
    border-radius: 20px;
    width: 50%;
    height: 3vw;
    border: 3px gold solid;
}

.container_ctt button:hover {
    background-color: gold;
    color: #000;
    transition: all 0.5s ease-in;
}
.container_ctt h1{
    margin: 0;
    padding: 0;
}
.container_ctt h1 {
    background: linear-gradient(0deg, gold, gold) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
  }
.container_ctt h1:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
.container_ctt h1 {
    text-decoration: none;
    color: inherit;
    line-height: 1;
  }

/*Parceria*/
.seccao-par {
    width: 100%;
    height: 70vh;
    /*background-color: blueviolet;*/
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.parceria, .card-parceria {
    width: 40%;
    height: 500px;

    background-color: #000000ee;
    border: 3px solid gold;
    border-radius: 20px;

    text-align: center;
    color: #FFF;
}
h3 {
    color: #FFF;
}
.parceria {
    margin-right: 5vw;
}

.btn-camp2 {
    color: #FFF;
    background-color: #000000;
    border-radius: 20px;
    width: 50%;
    height: 10%;
    border: 3px gold solid;
}

.btn-camp2:hover {
    background-color: gold;
    color: #000;
    transition: all 0.5s ease-in;
}

.col-4 {
    float: left;
    width: 25%;
    text-align: center;
}
.col-4 img {
cursor: pointer;
 margin: 0 auto;
 padding-top: 1em;
 vertical-align: middle;
}
.col-4 img:hover {
    margin-top: 10px!important;
    position: relative!important;
}

.bloco-logos {
    height: 170px;
}

.bloco-logos img {
    margin-top: 50px;
}

/*
Secção - Parceiros
*/

.seccao-metodo {
    width: 100%;
    height: 100vh;
    /*background-color: blueviolet;*/

    display: flex;
    align-items: center;
    justify-content: center;
}

.metodo-text {
    width: 50%;
    height: 100%;
    margin: 20px;

    text-align: center;
    color: #000;
    font-size: 2.3vh;
}
.metodo-vídeo {
    width: 40%;
    height: 100%;

    border: gold 5px solid;
    border-radius: 40px;
}

.vid-metodo {
    width: 100%;
    height: 100%;
}